@media all and (min-width: 1024px) and (max-width: 1440px) {
  .restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
    margin-left: 15px;
  }
  .fa-map-marker-alt {
    padding-left: 25%;
  }
}

@media all and (min-width: 721px) and (max-width: 1023px) {
  body {
    margin: 0;
    width: 100%;
  }
  header h1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  aside {
    display: inline;
  }
  aside li {
    width: 90%;
  }
  .reservation {
    margin-top: 140px;
    margin-bottom: 45px;
    height: auto;
    width: 100%;
    font-size: smaller;
  }
  .reservation--explor {
    height: auto;
    font-size: 1em;
  }
  .reservation--search {
    font-size: 1em;
    height: 50px;
  }
  .fa-map-marker-alt {
    padding-top: 13px;
  }
  .working {
    margin-bottom: 75px;
    margin-left: 0;
    font-size: 1em;
  }
  .working p {
    margin-left: 15px;
  }
  section {
    background-color: #f6f6f6;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .restaurant--cards__ligne1, .restaurant--cards__ligne2 {
    display: block;
  }
  .restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    height: 275px;
  }
  .restaurant--cards--1 img, .restaurant--cards--2 img, .restaurant--cards--3 img, .restaurant--cards--4 img {
    height: 175px;
  }
  .card--1__txt i, .card--2__txt i, .card--4__txt i, .card--3__txt i {
    margin-right: 5%;
  }
  .card--1__txt, .card--2__txt, .card--4__txt, .card--3__txt {
    font-size: x-small;
  }
  .heart {
    position: absolute;
  }
  .heart .fa-heart.full {
    position: absolute;
    right: 10%;
    opacity: 0;
  }
  .heart i {
    left: 90%;
  }
  .heart:active {
    overflow: hidden;
    cursor: pointer;
  }
  .heart:active .empty {
    opacity: 0;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
  }
  .heart:active .full {
    opacity: 1;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
    z-index: 999;
    color: #9356DC;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heart:hover {
    overflow: hidden;
    cursor: pointer;
  }
  .heart:hover .empty {
    opacity: 0;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
  }
  .heart:hover .full {
    opacity: 1;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
    z-index: 999;
    color: #9356DC;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cards__img2 span, .cards__img span {
    font-size: 1em;
  }
  footer i {
    margin-right: 3px;
  }
}

@media all and (max-width: 720px) {
  body {
    margin: 0;
    width: 100%;
  }
  header h1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  aside {
    display: inline;
  }
  aside li {
    width: 85%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1em;
    margin-left: 15px;
    font-weight: bold;
  }
  aside ul {
    padding-left: 20px;
  }
  .reservation {
    margin-top: 80px;
    height: auto;
    width: 100%;
  }
  .reservation--search {
    font-size: 0.8em;
    height: 50px;
  }
  .reservation--search__input {
    width: 75%;
    height: 20px;
  }
  .fa-map-marker-alt {
    padding-left: 25%;
    padding-top: 15px;
  }
  .reservation--explor {
    font-size: 1.0em;
    height: auto;
  }
  .reservation--explor strong {
    font-size: 1.3em;
    font-weight: bolder;
  }
  .reservation--explor .btn {
    margin-bottom: 50px;
  }
  .working {
    margin-bottom: 50px;
    margin-left: 0;
    font-size: 0.9em;
    margin-top: 55px;
  }
  .working p {
    margin-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
  }
  .fa-circle {
    font-size: 1.4em;
  }
  .circle__nbr {
    font-size: 1em;
  }
  .symbole {
    padding-left: 10px;
    padding-right: 10px;
  }
  section {
    background-color: #f6f6f6;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .restaurant--cards__ligne1, .restaurant--cards__ligne2 {
    display: block;
  }
  .restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    height: 255px;
  }
  .restaurant--cards--1 img, .restaurant--cards--2 img, .restaurant--cards--3 img, .restaurant--cards--4 img {
    height: 175px;
  }
  .card--1__txt i, .card--2__txt i, .card--4__txt i, .card--3__txt i {
    margin-right: 5%;
    margin-top: 5%;
  }
  .card--1__txt, .card--2__txt, .card--4__txt, .card--3__txt {
    font-size: 1em;
    padding-top: 5px;
  }
  .card--1__txt a, .card--2__txt a, .card--4__txt a, .card--3__txt a {
    font-size: 1.2em;
  }
  .cards__img2 span, .cards__img span {
    font-size: 0.8em;
  }
  .heart {
    position: absolute;
    font-size: 1.3em;
  }
  .heart .fa-heart.full {
    position: absolute;
    right: 10%;
    opacity: 0;
  }
  .heart i {
    left: 90%;
  }
  .heart:active {
    overflow: hidden;
    cursor: pointer;
  }
  .heart:active .empty {
    opacity: 0;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
  }
  .heart:active .full {
    opacity: 1;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
    z-index: 999;
    color: #9356DC;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heart:hover {
    overflow: hidden;
    cursor: pointer;
  }
  .heart:hover .empty {
    opacity: 0;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
  }
  .heart:hover .full {
    opacity: 1;
    -webkit-transition: 0.5s 0s ease;
    transition: 0.5s 0s ease;
    z-index: 999;
    color: #9356DC;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  footer i {
    margin-right: 3px;
  }
}
/*# sourceMappingURL=media_queries_index.css.map */