body {
  font-family: "Roboto";
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

header {
  font-family: "Shrikhand";
  font-style: italic;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-arrow-left {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 3;
}

header h1 {
  position: fixed;
  top: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  border: 10px solid white;
  width: 100%;
  font-size: 1.5em;
  z-index: 2;
}

.heart {
  position: absolute;
  left: 90%;
}

figure {
  border: 4px solid #f6f6f6;
  border-radius: 25px;
  width: 98%;
  margin-left: 5px;
}

article {
  width: 100%;
}

figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 98%;
  height: 450px;
  border-radius: 25px 25px 0px 0px;
  position: absolute;
}

figcaption {
  border: #f6f6f6 5px solid;
  border-radius: 25px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
  top: 390px;
}

.menu h2 {
  font-style: italic;
  font-family: "Shrikhand";
  width: 100%;
  font-size: 1.2em;
}

.menu_carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.entree, .plat, .dessert {
  margin-left: 30px;
  width: 31%;
  font-size: 1em;
}

.entree p, .plat p, .dessert p {
  padding-bottom: 15px;
  border-bottom: 2px solid #99E2D0;
  width: 8%;
}

.menu_ligne {
  border: solid 2px white;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_ligne:hover .check {
  display: block;
}

.menu_ligne p {
  padding-bottom: 0;
  border-bottom: none;
  width: 100%;
  margin-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_ligne h3 {
  margin-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
  font-size: small;
}

.price-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 15px;
  text-align: right;
}

.check {
  background-color: #99E2D0;
  width: 15%;
  border-radius: 0px 25px 25px 0px;
  position: relative;
  display: none;
}

.fa-check-circle {
  color: white;
  background-color: #99E2D0;
  font-size: 1.3em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  margin-left: 15px;
}

footer {
  margin-top: 400px;
  z-index: 4;
  position: relative;
}

footer, footer a, footer li {
  background-color: #353535;
  color: white;
  list-style: none;
  padding-bottom: 10px;
}

footer h3 {
  font-family: "Shrikhand";
  margin-left: 40px;
  padding-top: 15px;
  font-size: medium;
}
/*# sourceMappingURL=menu.css.map */