body {
  font-family: "Roboto";
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

header {
  font-family: "Shrikhand";
  font-style: italic;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-arrow-left {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 3;
}

header h1 {
  position: fixed;
  top: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  border: 10px solid white;
  width: 100%;
  font-size: 1.5em;
  z-index: 2;
}

figure {
  border: 4px solid #f2f2f2;
  border-radius: 25px;
  width: 98%;
  margin-left: 5px;
}

article {
  width: 100%;
}

figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 98%;
  height: 450px;
  border-radius: 25px 25px 0px 0px;
  position: absolute;
}

figcaption {
  border: #f2f2f2 5px solid;
  border-radius: 25px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  top: 390px;
}

.fa-heart {
  float: right;
  margin-right: 15px;
}

.menu h2 {
  font-style: italic;
  font-family: "Shrihand";
  width: 100%;
  font-weight: bolder;
}

.menu_carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.entree, .plat, .dessert {
  margin-left: 30px;
  width: 31%;
}

.entree {
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
}

.plat {
  -webkit-animation: fadein 12s;
          animation: fadein 12s;
}

.dessert {
  -webkit-animation: fadein 18s;
          animation: fadein 18s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.entree p, .plat p, .dessert p {
  padding-bottom: 15px;
  border-bottom: 2px solid #99E2D0;
  width: 8%;
}

.entree--1, .entree--2, .entree--3, .entree--4, .plat--1, .plat--2, .plat--3, .dessert--1, .dessert--2, .dessert--3 {
  border: solid 2px white;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entree--1:hover .check, .entree--2:hover .check, .entree--3:hover .check, .entree--4:hover .check, .plat--1:hover .check, .plat--2:hover .check, .plat--3:hover .check, .dessert--1:hover .check, .dessert--2:hover .check, .dessert--3:hover .check {
  display: block;
}

.entree--1 p, .entree--2 p, .entree--3 p, .entree--4 p, .plat--1 p, .plat--2 p, .plat--3 p, .dessert--1 p, .dessert--2 p, .dessert--3 p {
  padding-bottom: 0;
  border-bottom: none;
  width: 100%;
  margin-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entree--1 h3, .entree--2 h3, .entree--3 h3, .entree--4 h3, .plat--1 h3, .plat--2 h3, .plat--3 h3, .dessert--1 h3, .dessert--2 h3, .dessert--3 h3 {
  margin-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  font-size: small;
}

.price-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 25px;
  margin-right: 10px;
  text-align: right;
}

.check {
  background-color: #99E2D0;
  width: 10%;
  border-radius: 0px 25px 25px 0px;
  position: relative;
  display: none;
}

.fa-check-circle {
  color: white;
  background-color: #99E2D0;
  font-size: 1.3em;
  position: absolute;
  left: 12px;
  top: 50px;
}

.menu_btn {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  border: 1px solid #FF79DA;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: medium;
  position: relative;
  z-index: 1;
}

.menu_btn:hover .menu_btn_bg {
  opacity: 1;
}

.menu_btn_bg {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #bc95e9;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 40px;
  font-size: medium;
}

footer {
  margin-top: 400px;
  z-index: 4;
  position: relative;
}

footer, footer a, footer li {
  background-color: grey;
  color: white;
  list-style: none;
  padding-bottom: 10px;
}

footer h3 {
  font-family: "Shrikhand";
  margin-left: 40px;
  padding-top: 15px;
  font-size: medium;
}

@media all and (max-width: 1340px) {
  .menu_carte {
    display: inline-block;
  }
  .entree, .plat, .dessert {
    margin-left: 0;
    width: 80%;
  }
  .entree p, .plat p, .dessert p {
    width: 5%;
  }
  .entree--1 p, .entree--2 p, .entree--3 p, .entree--4 p, .plat--1 p, .plat--2 p, .plat--3 p, .dessert--1 p, .dessert--2 p, .dessert--3 p {
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media all and (max-width: 720px) {
  .menu_carte {
    display: inline-block;
  }
  figure img {
    height: 350px;
  }
  figcaption {
    top: 300px;
  }
  .entree p, .plat p, .dessert p {
    width: 12%;
  }
  .entree, .plat, .dessert {
    margin-left: 0;
    width: 100%;
  }
  .entree--1, .entree--2, .entree--3, .entree--4, .plat--1, .plat--2, .plat--3, .dessert--1, .dessert--2, .dessert--3 {
    width: 95%;
  }
  .entree--1 {
    -webkit-animation: fadein 5s;
            animation: fadein 5s;
  }
  .entree--2 {
    -webkit-animation: fadein 10s;
            animation: fadein 10s;
  }
  .entree--3 {
    -webkit-animation: fadein 15s;
            animation: fadein 15s;
  }
  .entree--4 {
    -webkit-animation: fadein 17s;
            animation: fadein 17s;
  }
  .plat--1 {
    -webkit-animation: fadein 19s;
            animation: fadein 19s;
  }
  .plat--2 {
    -webkit-animation: fadein 22s;
            animation: fadein 22s;
  }
  .plat--3 {
    -webkit-animation: fadein 25s;
            animation: fadein 25s;
  }
  .dessert--1 {
    -webkit-animation: fadein 27s;
            animation: fadein 27s;
  }
  .dessert--2 {
    -webkit-animation: fadein 30s;
            animation: fadein 30s;
  }
  .dessert--3 {
    -webkit-animation: fadein 32s;
            animation: fadein 32s;
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .entree--1 p, .entree--2 p, .entree--3 p, .entree--4 p, .plat--1 p, .plat--2 p, .plat--3 p, .dessert--1 p, .dessert--2 p, .dessert--3 p {
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .entree--1 h3, .entree--2 h3, .entree--3 h3, .entree--4 h3, .plat--1 h3, .plat--2 h3, .plat--3 h3, .dessert--1 h3, .dessert--2 h3, .dessert--3 h3 {
    font-size: small;
  }
}
/*# sourceMappingURL=menu.css.map */