body {
  font-family: "Roboto";
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

header {
  font-family: "Shrikhand";
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  position: fixed;
  top: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  border: 10px solid white;
  width: 100%;
  font-size: 1.7em;
  z-index: 2;
}

.reservation {
  margin-top: 40px;
  height: 450px;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 450px;
      grid-template-rows: 450px;
  margin-top: 60px;
}

.working {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  margin-left: 4%;
  margin-top: 10px;
}

.reservation--search {
  background-color: #eaeaea;
  border-top: 2px solid gray;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 65px;
}

.reservation--search__input {
  background-color: #eaeaea;
  border: none;
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 1em;
  padding-left: 15px;
}

.fa-map-marker-alt {
  width: 100%;
  padding-left: 40%;
  padding-top: 25px;
  font-size: 1.1em;
}

.reservation--explor {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding-top: 15px;
}

.reservation--explor strong {
  font-style: normal;
  font-weight: bold;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.3em;
}

.reservation--explor p {
  margin-top: 3px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.1em;
}

.reservation--explor .btn {
  padding: 15px;
  font-size: 1.1em;
}

.working p {
  font-size: 1.4em;
}

aside li {
  background-color: #f6f6f6;
  border-radius: 20px;
  border: 2px solid #f6f6f6;
  padding-top: 20px;
  padding-bottom: 12px;
  margin-top: 35px;
  width: 70%;
  font-size: 1.1em;
  list-style: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-shadow: 6px 6px 10px silver;
          box-shadow: 6px 6px 10px silver;
}

.circle {
  position: absolute;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 99%;
  font-size: 1.4em;
  top: 12px;
}

.circle__nbr {
  position: absolute;
  left: 0.3em;
  bottom: 0.1em;
  color: white;
  font-size: 0.8em;
}

.fa-circle {
  color: #9356DC;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  padding-right: 2%;
  font-size: 1.1em;
}

.restaurant h3 {
  margin-left: 15px;
  font-size: 1.4em;
}

.restaurant--cards {
  width: 100%;
}

figcaption {
  position: relative;
}

.heart {
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 1.3em;
}

.restaurant--cards a {
  width: 100%;
}

.restaurant--cards__ligne1, .restaurant--cards__ligne2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
  width: 90%;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-right: 15px;
  margin-left: 45px;
  -webkit-box-shadow: 4px 4px 10px silver;
          box-shadow: 4px 4px 10px silver;
}

.card--1__txt, .card--2__txt, .card--4__txt, .card--3__txt {
  padding-left: 15px;
  font-size: 1.1em;
}

.card--1__txt strong, .card--2__txt strong, .card--4__txt strong, .card--3__txt strong {
  font-size: 1.2em;
}

.restaurant--cards img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  height: 300px;
}

.cards__img2, .cards__img {
  position: relative;
}

.cards__img2 span, .cards__img span {
  background-color: #99E2D0;
  border-radius: 2px;
  margin-top: 15px;
  position: absolute;
  z-index: 1;
  right: 6%;
  color: #0a8d6d;
  padding: 7px;
  font-weight: bold;
}

figcaption p {
  padding-top: 7px;
  margin-top: 0;
}

footer, footer a, footer li {
  background-color: #353535;
  color: white;
  list-style: none;
  padding-bottom: 10px;
  font-size: 1.1em;
}

footer h3 {
  font-family: "Shrikhand";
  margin-left: 40px;
  padding-top: 15px;
  font-size: 1.2em;
  margin-top: 0;
}
/*# sourceMappingURL=ohmyfood.css.map */