body {
  font-family: "Roboto";
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

header {
  font-family: "Shrikhand";
  font-style: italic;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  position: fixed;
  top: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  border: 10px solid white;
  width: 100%;
  font-size: 1.5em;
  z-index: 2;
}

.reservation {
  margin-top: 40px;
  height: 450px;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 450px;
      grid-template-rows: 450px;
  margin-top: 100px;
}

.working {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  margin-left: 4%;
  margin-top: 10px;
}

.reservation--search {
  background-color: silver;
  border-top: 2px solid gray;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reservation--search__input {
  background-color: silver;
  border: none;
  text-align: left;
  font-size: 1em;
  padding-left: 15px;
}

.fa-map-marker-alt {
  text-align: center;
  width: 100%;
  margin-left: 60px;
}

.reservation--explor {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.reservation--explor strong {
  font-style: normal;
  font-weight: bold;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reservation--explor p {
  margin-top: 3px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reservation--explor__btn {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  border: 1px solid #FF79DA;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: medium;
  position: relative;
  z-index: 1;
}

.reservation--explor__btn:hover::after {
  opacity: 1;
}

.reservation--explor__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #bc95e9 100%, #ff60d3 0%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

aside li {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 12px;
  margin-top: 35px;
  width: 80%;
  list-style: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.circle {
  position: absolute;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 99%;
}

.circle__nbr {
  position: absolute;
  right: 0.2em;
}

.fa-circle {
  color: #9356DC;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  padding-right: 2%;
}

.restaurant h3 {
  margin-left: 15px;
}

.restaurant--cards {
  width: 100%;
}

.restaurant--cards a {
  width: 100%;
}

.restaurant--cards__ligne1, .restaurant--cards__ligne2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
  width: 90%;
  margin-left: 10px;
  border: 4px #f2f2f2 solid;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin-right: 15px;
  margin-left: 45px;
}

.restaurant--cards img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  height: 300px;
}

.cards__img2, .cards__img {
  position: relative;
}

.cards__img2 span, .cards__img span {
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  border-radius: 10px;
  margin-top: 15px;
  position: absolute;
  z-index: 1;
  right: 6%;
}

.card--1__txt i, .card--2__txt i, .card--4__txt i, .card--3__txt i {
  float: right;
  margin-right: 40px;
  margin-top: 25px;
}

footer, footer a, footer li {
  background-color: grey;
  color: white;
  list-style: none;
  padding-bottom: 10px;
}

footer h3 {
  font-family: "Shrikhand";
  margin-left: 40px;
  padding-top: 15px;
  font-size: medium;
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
  .restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
    margin-left: 15px;
  }
}

@media all and (max-device-width: 720px) {
  header h1 {
    padding-top: 15px;
  }
  aside {
    display: inline;
  }
  .reservation {
    margin-top: 140px;
    margin-bottom: 45px;
    height: 350px;
  }
  .working {
    margin-bottom: 75px;
  }
  section {
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .restaurant--cards__ligne1, .restaurant--cards__ligne2 {
    display: block;
  }
  .restaurant--cards--1, .restaurant--cards--2, .restaurant--cards--3, .restaurant--cards--4 {
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;
  }
  .card--1__txt i, .card--2__txt i, .card--4__txt i, .card--3__txt i {
    margin-right: 5%;
    margin-top: 5%;
  }
  .cards__img2 span, .cards__img span {
    font-size: 1.5em;
  }
  footer i {
    margin-right: 3px;
  }
}
/*# sourceMappingURL=ohmyfood.css.map */